@page "/todohome"

<h3>Bienvenue dans l'application TodoList</h3>

<p>Cliquez sur le lien ci-dessous pour accéder à votre liste de tâches : </p>

<NavLink class="nav-link" href="todolist">
    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>📝 Accéder à la TodoList
</NavLink>

@code {

}
